
<div class="container" *ngIf="cartPizzas.length > 0">
  <div class="row">
    <!-- List of Pizzas -->
    <div class="col-8">
      <div class="row">
        <div class="col-4" *ngFor="let pizza of cartPizzas">
          <div class="item">
            <div class=" mb-r">
              <!--Card-->
              <div class="card card-cascade wider">

                <!--Card image-->
                <a>
                  <div class="view overlay hm-white-slight">
                    <img src={{pizza.imagePizza}} class="img-fluid" alt="photo {{pizza.name}}">
                    <a>
                      <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                  </div>
                </a>

                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center no-padding">
                
                  <h5 class="card-title">
                    <strong>
                      <a>{{ pizza.name }}</a>
                    </strong>
                  </h5>

                
                <div class="card-body text-center no-padding">
                
                    <h5 class="card-title">
                      <strong>
                        <a>{{ pizza.numberofpizza }}</a>
                      </strong>
                    </h5>

                  <!--Description-->
                  <div class="card-text" *ngFor="let ingredient of pizza.ingredients">{{ingredient.name}} </div>

                  <!--Card footer-->
                  <div class="card-footer">
                    <span class="left">{{ pizza.price }} €</span>
                    <span><button type="button" class="btn btn-success ml-1" (click)="addNumberOfPizzaToCart(pizza)">+</button></span>
                    <span><button type="button" class="btn btn-danger ml-1" (click)="substractNumberOfPizzaToCart(pizza)">-</button></span>                    
                    <span class="right">
                      <a placement="top" mdbTooltip="Quick Look" container="body">
                        <i class="fa fa-eye"></i>
                      </a>
                      <a placement="top" mdbTooltip="Remove Pizza" container="body" (click)="removeCartPizza(pizza)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </span>
                  </div>

                </div>
                <!--/.Card content-->

              </div>
              <!--/.Card-->

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
     <!--  <app-cart-calculator [pizzas]="cartPizzas"></app-cart-calculator> -->
    </div>
  </div>
  <div class="col-4">
    <app-cart-calculator [pizzas]="cartPizzas"></app-cart-calculator>
  </div>
</div>
<div class="container" *ngIf="cartPizzas.length === 0">
<!--   <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found> -->

</div>
<div *ngIf="isLoggedIn; else needlogin" >
<button pButton type="button" label="Checkout" class="ui-button-rounded" style="height:75px;width:200px;font-size : 25px" (click)="checkoutcart()"></button>
</div>
<ng-template #needlogin>
  <button pButton type="button" label="Login" class="ui-button-rounded" style="height:75px;width:200px;font-size : 25px" [routerLink]="['/login']"></button>
</ng-template>