<div class="container">
  <div class="login-form">
      <div class="main-div">
          <div class="panel"> 
              <p>Please enter your login and password</p>
          </div>
          <form id="Login" #f="ngForm" (ngSubmit)="login()">

              <div class="form-group">

                  <input type="text" name="username" [(ngModel)]="user.username" class="form-control" id="username"
                         placeholder="Username" required #nom="ngModel">
                  <div class="alert alert-danger" *ngIf="nom.touched && nom.invalid">
                      Le nom de l'utilisateur est obligatoire
                  </div>
              </div>

              <div class="form-group">

                  <input type="password" name="password" [(ngModel)]="user.password" class="form-control"
                         id="inputPassword" placeholder="Password" required #password="ngModel">
                  <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                      Le mot de passe est obligatoire
                  </div>
              </div>
              
              <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>

          </form>
      </div>
  </div>
</div>
